.team-member {
    display: block;
    align-items: center;
    margin: auto auto auto auto;
    margin-bottom: 20px;
}

.team-member img {
    width: 200px;
    height: auto;
    border-radius: 20%;
}

.team-member-description {
    flex: 0;
    padding-top: 5px;
    text-align: center;
}
