.post-content {
  max-width: $container-width;
  display: block;
  margin: 10px auto 10px;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #000000;
  font-size:0.8rem;
}
.featured-image img {
  max-width: 600px;
  margin: auto auto auto;
  display: flex;
  height: auto;
}

@media (max-width: $pixel-mobile) {
  .post-content {
    width: $container-width;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    width: $container-width;
    max-width: 600px;
    height: auto;
    margin: auto auto auto;
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .post-content {
    max-width: 80%;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    margin-left: 0;
    display: flex;
  }
}

.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}

/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related ul, ol, dl {
  margin-left: 0px;
}
.related-posts {
  list-style: none;
}
.related-thumbnail {
  position: relative;
  min-height: 200px;
  overflow: clip;
}
.related img {
  margin-left: 0;
}
.related-title {
  font-style: none;
  padding-left: 10px;
  padding-bottom: .5rem;
  font-family: $base-font-family;
}

@media (max-width: $pixel-mobile) {
  .related-thumbnail{
    min-width: $container-width;
  }
}
@media (max-width: $tablet-width) {
  .related-thumbnail{
    min-width:  $container-width;
  }
}
