.post-content {
  max-width:$container-width;
  display: block;
  margin: 10px auto 10px;
}
.post-date {
  display: block;
  margin-bottom: 1rem;
  color: #000000;
  font-size:0.8rem;
}
.featured-image img {
  margin: 5px auto 25px;
  display: block;
  max-width: 600px;
}

@media (max-width: $pixel-mobile) {
  .post-content {
    width: $container-width;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    width: $container-width;
    margin: 5px auto 5px;
    display: block;
  }
}

@media (max-width: $tablet-width) {
  .post-content {
    width: 80%;
    display: block;
    margin: 10px auto 10px;
  }
  .featured-image img {
    align-content: middle;
    margin: 5px auto 25px;
    display: block;
    max-width: 95%;
  }
}

.post-share {
  padding-bottom: 1rem;
}
.sharing-icons a {
  padding-right: 10px;
}

/*
  Related Posts
*/

.related {
  padding-bottom: 1rem;
}
.related ul, ol, dl {
  margin: 0px;
}
.related-posts {
  list-style: none;
}
.related-thumbnail {
  position: relative;
  width: 600px;
  height: auto;
  min-height: 200px;
  overflow: hidden;
}
.related img {
  position: absolute;
  margin: auto auto auto auto;
  width: 600px;
  height: auto;
}
.related-title {
  float: right;
  padding-bottom: .5rem;
  font-family: $base-font-family;
}

@media (max-width: $pixel-mobile) {
  .related-thumbnail{
    min-width: $container-width;
    width: 70%;
  }
}
@media (max-width: $tablet-width) {
  .related-thumbnail{
    min-width:  $container-width;
    width: 70%;
  }
}
